$primary-color: #66E0FF;
$divider-color: #282828;
$text-color: #D1D0CF;
$border-color: #383838;
$input-bg: #1C1C1C;
$input-text: #D1D0CF;
$input-placeholder: #616161;
$tab-bar-bg: #1E1E1E;
$head-bar-bg: #12110F;